.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    padding: 2.5rem;
    border: 3px solid var(--primary-color);
    border-radius: 9.6px;
}

.fs-1 {
    font-size: 1rem;
    margin: 1rem;
}

.p-1 {
    padding: 1rem;
}

.input {
    width: 20rem;
}

.radio-actions {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.forgot-link {
    color: var(--secondary-color);
}

.login-btn {
    display: block;
    width: 100%;
}

.signup-text {
    text-align: center;
}

.signup-link {
    font-size: 1.5rem;
    color: var(--secondary-color);
}