.product-sidebar {
    position: sticky;
    top: 0;
}

.products-container {
    margin: 2rem 2.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.heart-icon {
    color: var(--color-gray);
}

.heart-icon-main {
    color: var(--primary-color);
}

.heart-icon:hover,
.heart-icon-main:hover {
    color: var(--bg-body);
}

.card-container {
    width: 18rem;
}

.card-heading {
    font-weight: 600;
}

.card-author {
    font-size: 1.2rem;
    font-weight: 500;
}

.btn-product {
    width: 100%;
}